/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* Header */
header {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;

  img {
    width: 5%;
  }

  nav {

    max-width: 80%;

    a {
      margin: 0 0.5rem;
      text-decoration: none;
      font-size: smaller;
      font-weight: 800;
      color: rgb(77, 76, 76);

    }
    .active {
      text-decoration: underline;
    }
  }
}

/* Main */
main {
  color: white;

  .Content-C {
    background-color: black;
    padding: 3rem 0;
  }

  .Blue-C {
    background-color: rgb(56, 128, 241);
    padding: 3rem 0;

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem; 

      
      .element { 
        display: flex; 
        align-items: center; 
        gap: 1rem; 
        flex: 1; 
        

        img {
          width: 20%;
          object-fit: contain;
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 0.7rem;
          white-space: nowrap;
      
        }
      }
    }
}
}

/* Footer */
footer {
  padding: 1.5rem 0;
  background-color: rgb(77, 76, 76);

  .LowerFooter {
    display: flex;
    justify-content: space-between;
  }

  .UpperFooter {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1.5rem;

    height: 300px;

    background-image: url('../src/assets/img/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-size: 23rem;
    background-position: right;
  }

  button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(92, 140, 251);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.3s;
    }
  }

  nav {
    span {
      position: relative;
      top: -10px;
      margin: 0 1rem;
      font-weight: 800;
      color: rgb(92, 140, 251);
    }
   
    a {
      margin: 0 0.5rem;
      text-decoration: none;
    }
  }
}