/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* Header */
header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;

  img {
    width: 5%;
  }

  nav {

    max-width: 80%;

    a {
      margin: 0 0.5rem;
      text-decoration: none;
      font-size: smaller;
      font-weight: 800;
      color: rgb(77, 76, 76);

    }
    .active {
      text-decoration: underline;
    }
  }
}