/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/* Header */
header {

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;

  img {
    width: 5%;
  }

  nav {

    max-width: 80%;

    a {
      margin: 0 0.5rem;
      text-decoration: none;
      font-size: smaller;
      font-weight: 800;
      color: rgb(77, 76, 76);

    }
    .active {
      text-decoration: underline;
    }
  }
}

/* Main */
main {
  background-color: black;
  color: white;
  padding: 3rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
  background-color: rgb(77, 76, 76);

  button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(92, 140, 251);
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.3s;
    }
  }

  nav {
    span {
      position: relative;
      top: -10px;
      margin: 0 1rem;
      font-weight: 800;
      color: rgb(92, 140, 251);
    }
   
    a {
      margin: 0 0.5rem;
      text-decoration: none;
    }
  }
}